<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Sistema Heladeria</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Heading -->
    {% if user.tipo_usuario == 1 %}
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Admin</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item active" href="/usuarios/listar">Administrar Usuarios</a>
                <a class="collapse-item active" href="/">Estadisticas</a>
            </div>
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Movimiento:</h6>
                <a class="collapse-item active" href="/movimientos">Productos Fijos</a>
                <a class="collapse-item active" href="/lotes">Movimiento de Lotes </a>
            </div>
        </div>
    </li>
    {% endif %}
    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Gestion</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item active" href="/">Login</a>
                <form action="/logout" method="post" style="display: inline; border: 0;">
                    <button type="submit" style="border: 0;background:#FFFFFF;">
                        <a class="collapse-item active">Cerrar Sesion</a>
                    </button>
                    </form>

                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Ventas:</h6>
                    <a class="collapse-item active" href="/ventas/nueva">Nueva Venta </a>
                    <a class="collapse-item active" href="/ventas/listar">Listar Ventas </a>
                    <h6 class="collapse-header">Productos:</h6>
                    <a class="collapse-item active" href="/productos">Productos Fijos </a>
                    <a class="collapse-item active" href="/sabores-base">Sabores Base </a>
                    <h6 class="collapse-header">Lotes:</h6>
                    <a class="collapse-item active" href="/lotes/nuevo">Nuevo Lote </a>
                    <a class="collapse-item active" href="/lotes">Ver Lotes </a>

            </div>
        </div>
    </li>



    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>