<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Página Protegida</title>
</head>
<body>
    <h2 style="color: aliceblue;">Menu de inicio</h2>
    
    <button id="logoutButton">Cerrar Sesión</button>

    
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById("logoutButton").addEventListener('click', async function () {
            try {
                let response = await fetch('http://127.0.0.1:8000/logout/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: 'include' // Incluye cookies en la solicitud
                });

                if (response.ok) {
                    alert("Sesión cerrada correctamente");
                    window.location.href = "/"; 
                } else {
                    alert("Error al cerrar sesión");
                }
            } catch (error) {
                console.error("Error al cerrar sesión:", error);
                alert("Ocurrió un error al intentar cerrar sesión");
            }
        });
    });
</script>
</html>