<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Bienvenido
                </div>
                <form id="loginForm">
                    <label for="email">Correo electrónico:</label>
                    <input type="text" id="email" name="email" required><br><br>
            
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required><br><br>
            
                    <button type="submit">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
   

    
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById("loginForm").addEventListener('submit', async function (event) {
            event.preventDefault(); // Evita que el formulario se envíe de forma tradicional

            // Obtener los valores del formulario
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;

            // Crear el objeto de datos
            let data = {
                email: email,
                password: password
            };

            try {
                // Enviar la solicitud POST al backend
                let response = await fetch('http://127.0.0.1:8000/users/validate/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data),
                    credentials: 'include' // Incluye cookies en la solicitud
                });

                if (response.ok) {
                    let result = await response.json();
                    console.log(result);
                    alert("Bienvenido, " + email);
                    window.location.href = "/index"; //Redirigir a la página protegida
                } else {
                    let errorData = await response.json();
                    alert("Error: " + errorData.detail[0].msg); // Mostrar mensaje de error
                }
            } catch (error) {
                console.error("Error al iniciar sesión:", error);
                alert("Ocurrió un error al intentar iniciar sesión");
            }
        });
    });
</script>
</html>